# Database settings
MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=hiregenius

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=supersecret

# Application Secrets
JWT_SIGNING_KEY=my_super_secret_jwt_signing_key_that_is_long_enough

# AI/ML Secrets
GEMINI_API_KEY_TEST=test_gemini_key_here
