# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Uploaded Files
uploads/

